/*  ==========================================================================
    Helper classes
    ==========================================================================  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Lato", sans-serif; */
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li {
    padding: 0;
    margin: 0;
}

/* My Custom CSS */

.sr-section{
    min-height: 100vh;
    position: relative;
}

.sr-position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

.sr-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-card {
    padding: 25px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
}

.login-card {
    width: 350px;
}

.sr-card-title {
    text-align: center;
    padding-bottom: 10px;
}

.sr-card-subtitle {
    text-align: center;
    padding-bottom: 40px;
}

.form-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    display: flex;
    flex-direction: column;
}

label{
    font-style: italic;
    text-transform: capitalize;
}
.input input[type="text"],
.input input[type="email"],
.input input[type="date"],
.input input[type="password"] {
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
}

input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #000;
}

/*  ==========================================================================
    Helper classes
    ==========================================================================  */

